<html>
<head>
  <script src="/static/js/jquery.min.js"></script>
  <link href="/static/css/minified.css" rel="stylesheet" />
  <script src="/static/js/chart.js"></script>
  <script src="/static/js/xlsx.full.min.js"></script>
  <title>{{title}}</title>
</head>
<style media="screen">
  .blurred{
    filter:blur(8px);
  }

  table {
    border-color: black;
  }
</style>
<body style="background: white; font-family: monospace;">
  <div class="p-2 container">
    <div class="bg-darkblue p-2 rounded text-white text-center d-flex">
      <div>{{title}}</div>
    </div>
    <div class="mt-2" style="height: 60vh; overflow: scroll;">
      <table class="table table-bordered table-hover">
        <thead style="position: sticky; top: 0; background: black; color: white;">
          <tr>
            <td>Ref</td>
            <td>Designation</td>
            <td>Stock system</td>
            <td>Stock reel</td>
          </tr>
        </thead>
        <tbody>
          {% for i in products %}
          <tr>
            <td>
              {{i.ref}}
            </td>
            <td>
              {{i.name}}
            </td>
            <td>
              {% if target == 'o' %}{{i.stocktotalorgh}}{% else %}{{i.stocktotalfarah}}{% endif %}
            </td>
            <td class="d-flex align-items-center p-2 justify-content-center">
              <input type="number" class="" placeholder="stock raal" style="
              height: 2em;" value="{{i.stockinventaire}}">
              <button class="btn bi bi-check btn-primary" onclick="setinventair(event, {% if target == 'o' %}{{i.stocktotalorgh}}{% else %}{{i.stocktotalfarah}}{% endif %}, '{{i.ref}}', {{i.id}})"></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div>
      <div class="bg-white rounded shadow p-2 tableholder">
          <!-- <div>
              <small>
                  Ref.
              </small>
              <input type="text" name="ref" class="form-control searchref">
          </div> -->
          <div class="d-flex justify-content-between">

              <div class="mb-3 col-5">

            </div>

        </div>
        <div class="col-5">
          <input type="text" class="searchbonlivraisoncreation" placeholder="Search..." />
        </div>
        <table class="table table-bordered text-center bonlivraisoncreation">
          <thead style="background: orange; color:#091b27;">
              <tr>
                  <td style="padding: 2px 0; font-size: 13px; width: 9%;">REF</td>
                  <td style="padding: 2px 0; font-size: 13px;">Article</td>
                  <td style="padding: 2px 0; font-size: 13px; width: 9%;">Dernier Pr.</td>
                  <td style="padding: 2px 0; font-size: 13px;">Stock</td>
                  <td style="padding: 2px 0; font-size: 13px; width: 9%;">Dernier Pr. cli</td>
                  <td style="padding: 2px 0; font-size: 13px;width: 6%;" >Quantité</td>
                  <td style="padding: 2px 0; font-size: 13px;width: 6%;" >Prix unit.</td>
                  <td style="padding: 2px 0; font-size: 13px;width: 3%;" >Remise</td>
                  <td style="padding: 2px 0; font-size: 13px;width: 6%;" >Prix Net</td>
                  <td style="padding: 2px 0; font-size: 13px;">Total</td>
              </tr>
          </thead>
          <!-- <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>TOTAL</td>
              <td class="totalbon" style="background: orange; color:#091b27;">
                  0.00
              </td>
            </tr>
          </tfoot> -->
          <tbody class="bonlivraisonbody">
            {% for i in items %}
              <tr class="itemrow">
                <input type="hidden" value="{{i.id}}" class="bonitem">
                  <td class="ref" onclick="removelineupdatebl(event, '{{livraison.id}}', '{{i.id}}')">{{i.ref}}</td>
                  <td class="name">{{i.name}}</td>
                  <td>{{i.buyprice}}</td>
                  <td>{{i.stocktotal}}</td>
                  <td class="clientprice">{{i.clientprice}}</td>
                  <td><input type="number" class="calculate qty" onkeyup="calculatelivraison(event, '{{livraison.id}}')" name="qty" value="{{i.stockinventaire}}"></td>
                  <td><input type="number" class="calculate price" onkeyup="calculatelivraison(event, '{{livraison.id}}')" name="price" value="{{i.price}}"></td>
                  <td><input type="number" class="calculate remise" onkeyup="calculatelivraison(event, '{{livraison.id}}')" name="remise" value="{{i.remise}}"></td>
                  <td class="netprice">{{i.prixnet}}</td>
                  <td class="total">{{i.total}}</td>
                  <input type="hidden" name="productid" value="{{i.id}}">
                  <input type="hidden" name="coutmoyen" value="{{i.coutmoyen}}" achatids="{{i.achatids}}" remainqties="{{i.remainqties}}" oldqties="{{i.oldqties}}">

            {% endfor %}
          </tbody>
        </table>
        <div class="d-flex justify-content-between bg-white" style="position: sticky; bottom: 0;">
            <button class="btn btn-success submitbonlivraison" style="border-radius: 10px;">
                  Valider
            </button>
            <button class="btn btn-danger" onclick="annulerbon('bonlivraison{{target}}', '/products/listbonlivraison?target={{target}}')" style="border-radius: 10px;">
              Annuler
              </button>
            <b class="totalbon text-danger totalbonlivraison">
              0.00
            </b>
        </div>
      </div>
      <div class="reglementbonsholder mt-3 border position-relative">

        <div class="inputsholder">
            <!-- <button style="background: #f06623;" class="btn btn-sm text-white" onclick="addfieldsreglement(event)">+</button> -->
            <!-- <strong class="totalreglblfields">0.00</strong> -->
                <!-- <div class="row align-items-center">
                      <div class="col-3">
                          <small>Mantant:</small> <br>

                      </div>
                      <div class="col-3">
                          <small>N° piece:</small> <br>

                      </div>
                      <div class="col-3">
                          <small>Mode Paiment:</small> <br>

                      </div>
                      <div class="col-3">
                          <small>Echeance:</small> <br>

                      </div>
                  </div> -->
                <!-- <div class="reglements">
                    <div class="row align-items-center mt-2">
                        <div class="col-3">
                            <input type="number" name="mantantreglementclient" oninput="totalreglementbl(event)" class="w-100 notempty" placeholder="Mantant">
                        </div>
                        <div class="col-3">
                            <input type="text" name="npiece" class="w-100 notempty" placeholder="N° piece">
                        </div>
                        <div class="col-3">
                            <select name="modereglementclient" class="w-100 notempty" onchange="checkmodereglement(event)">
                                <option value="cheque">Cheque</option>
                                <option value="effet">effet</option>
                                <option value="espece">espece</option>
                                <option value="verement">verement</option>
                                <option value="versement">versement</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <input type="date" name="echeance" class="w-100 notempty echeancereglbl" value="{{today|date:'Y-m-d'}}">
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
  </div>
    <!-- <div class="row">
      <div class="col-6">
        <h4>Stock plus</h4>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>ref</td>
              <td>qté</td>
              <td>prix</td>
              <td>total</td>
            </tr>

          </thead>
          <tbody class="tableplus" ids="[]">

          </tbody>
          <button class="btn btn-primary" onclick="bonsortieinventaire()">Create bon sortie</button>
        </table>
      </div>
      <div class="col-6">
        <h4>Stock moins</h4>
      </div>
    </div> -->

  </div>
  <script>
    function calculatelivraison(e, id){
      let target = $(e.target)
      let tr = target.closest('tr')
      let qty = tr.find('.qty').val()
      let price = tr.find('.price').val()
      let netprice = tr.find('.netprice')
      let remise = tr.find('.remise').val()
      let total = tr.find('.total')
      let totalbon = $(`.totalbonlivraison`)
      let net=(parseFloat(price)-(parseFloat(price)*parseFloat(remise)/100)).toFixed(2)
      netprice.text(net)
      let totalbonval = parseFloat(totalbon.text())
      let totalrow = parseFloat(qty*price*(1-remise/100))
      console.log(totalrow)
      total.text(totalrow.toFixed(2))
      totals=tr.parent().find('.total')
      //console.log('totals in modifier', totalbon, totals)
      let totalrowsval = 0
      totals.each(function(){
        totalrowsval+=parseFloat($(this).text()||0)
      })
      totalbon.text(totalrowsval.toFixed(2))
    }
    function calculatetotal(event){
      price=$(event.target).val()
      qty=$(event.target).parent().parent().find('.diff').text()
      total=parseFloat(price)*parseFloat(qty)
      $(event.target).parent().parent().find('.total').text(total.toFixed(2))
    }
    function setinventair(event, stock, ref, id)
    {
      qty=$(event.target).parent().find('input').val()
      diff=parseFloat(qty)-parseFloat(stock)
      $.get('/products/setinventair', {'id':id, 'qty':qty})
      // if (diff>0) // means stock reel is greater than stock system so we need to add diff to system
      // {
      //   ids=JSON.parse($('table').attr('ids') || '[]')
      //     if (ids.includes(id)){
      //       return
      //     }
      //     ids.push(id)

      // }else if (diff<0){ // stock reel is less than stock system so we need to aremove  diff from system, use tableplus
      //   let ids = JSON.parse($('.tableplus').attr('ids') || '[]');
      //   if (ids.includes(id)) {
      //     return;
      //   }
      //   ids.push(id);
      //   $('.tableplus').attr('ids', JSON.stringify(ids));
      //   $('.tableplus').prepend(`
      //     <tr>
      //       <td>${ref}</td>
      //       <td class="diff">${Math.abs(diff)}</td>
      //       <td class="price" oninput="calculatetotal(event)"><input type="number"></td>
      //       <td class="total">0.00</td>
      //     </tr>
      //   `)
      // }
    }
  function excelpdcts(event){
        let parentdiv=$(event.target).parent().parent()
        excelfile=$('.excelfile')
        // send excel file data in a ajax request
        let formData = new FormData();

        // Append the Excel file to the FormData object
        formData.append('excelFile', excelfile[0].files[0]);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      // Make an AJAX request to send the file data
        $('.loadingscreen').removeClass('d-none')
        $.ajax({
          //url: '/products/excelpdcts', // to get products to databese
          url: '/products/updatestockinv', // Replace with your server endpoint
          type: 'POST', // Use POST or other HTTP method as needed
          data: formData,
          processData: false,
          contentType: false,
          success: function(data) {
            // Handle the success response from the server
            $('.loadingscreen').addClass('d-none')
            if (data.success){
              console.log(data.difftracker)
              console.log(data.referrors)
              $('.entries').text('Nombre des reference: '+data.entries)
              difftrackerhtml=''
              for (i of data.difftracker){
                difftrackerhtml+=`${i}`
              }
              $('.difftracker').html(`<strong>Differences</strong><table class="table table-bordered"><tbody><tr><td>ref</td><td>stock system</td><td>inventaire</td><td>difference</td></tr>${difftrackerhtml}</tbody></table>`)
              referrorshtml='<strong>ERRORS</strong>'
              for (i of data.referrors){
                referrorshtml+=`<div>${i}</div>`
              }
              $('.referrors').html(referrorshtml)
              //alertify.success('File uploaded successfully')
            }else{
              $('.referrors').text(data.error)
            }

          },
          error: function(xhr, status, error) {
            $('.loadingscreen').addClass('d-none')
            // Handle errors if the AJAX request fails
            //alertify.error('Error uploading file');
          }
        });
    }
  </script>
</body>
