<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock general {% if target == "f" %}Farah{%else%} Orgh {%endif%}</title>
    <link href="/static/css/minified.css" rel="stylesheet" />

</head>
<body class="p-5" style="font-family: sans-serif;">
    <h4>Stock general {% if target == "f" %}Farah{%else%} Orgh {%endif%}</h4>
    <strong class="text-danger">{{errorref}}</strong>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>REF</th>
                <th>Designation</th>
                <th>mark</th>
                <th>stock initial</th>
                <th>qte achat</th>
                <th>avoir achat</th>
                <th>qty ventes</th>
                <th>avoir client</th>
                <th>Stock</th>
                <th>Prix achat moyen HT</th>
                <th>Prix achat moyen tva</th>
                <th>stock * Prix achat moyen HT</th>
                <th>stock * Prix achat moyen TTC</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{product.ref.upper}}</td>
                    <td>{{product.name.upper}}</td>
                    <!-- <td>{% if target == "f" %}{{product.stocktotalfarah}}{%else%} {{product.stocktotalorgh}} {%endif%}</td> -->
                    <td>{{product.mark.name}}</td>
                    <td>{% if target == "f" %}{{product.frstockinitial}}{%else%} {{product.stockinitial}} {%endif%}</td>
                    <td>{{product.qtyacht}}</td>
                    <td>{{product.avoirachat}}</td>
                    <td>{{product.qtyventes}}</td>
                    <td>{{product.avoirventes}}</td>
                    <td>{% if target == "f" %}{{product.stocktotalfarah}}{%else%} {{product.stocktotalorgh}} {%endif%}</td>
                    <td>{% if target == "f" %}{{product.coutmoyenfarah}}{%else%} {{product.coutmoyenorgh}} {%endif%}</td>
                    <td>{% if target == "f" %}{{product.coutmoyenfarahtva}}{%else%} {{product.coutmoyenorghtva}} {%endif%}</td>
                    <td>{% if target == "f" %}{{product.coutmoyenfarahtva}}{%else%} {{product.coutmoyenorghtva}} {%endif%}</td>
                    <td>{% if target == "f" %}{{product.coutmoyenfarahtva}}{%else%} {{product.coutmoyenorghtva}} {%endif%}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>{{totalgeneral}}</th>
            </tr>
        </thead>
    </table>
</body>
</html>