{% extends 'adminbase.html' %}

{% block content %}
<div class="tabsholder expended" style="width: 100%;">
  <div class="px-2 d-flex justify-content-between border-bottom align-items-center bg-success text-white align-items-center">
    <div class="btn p-2 text-white text-center sectionbtn active position-relative" onclick="getsection(event, 'Farah', '/products/farahhome')">
      F
    </div>
    <div class="d-flex">
      <div class="bi bi-box-seam-fill d-flex flex-column btn p-2 text-white sectionbtn position-relative" title="Stock" onclick="getsection(event, 'Farah', '/products/stocksection?target=f')">
        <small>Stock</small>
      </div>
      <div class="d-flex flex-column btn p-2 bi bi-people-fill text-white sectionbtn position-relative" title="Client" onclick="getsection(event, 'Farah', '/products/clientsection?target=f')">
      <small>Clients</small>
      </div>

      <div class="d-flex flex-column btn p-2 bi bi-people-fill text-white sectionbtn position-relative" title="Client" onclick="getsection(event, 'Farah', '/products/suppliersection?target=f')">
        <small>Fournisseurs</small>
      </div>

      <!-- <div class="btn p-2 bi bi-people-fill text-white sectionbtn position-relative" title="vente" onclick="getsection(event, 'Farah', '/products/ventesection?target=f')"></div> -->


      <div class="d-flex flex-column btn p-2 bi bi-cart-plus-fill text-white sectionbtn position-relative">
        <small>Caisse</small>
      </div>

      <div class="d-flex flex-column btn p-2 bi bi-cart-plus-fill text-white sectionbtn position-relative">
        <small>Banque</small>
      </div>
    </div>

    <!-- search -->
    <div>
      <input style="
      width: 10em;
      background: #80808038;
      border-radius: 11px;
      margin-bottom: 9px;
      " type="text" placeholder="Cherche Article" class="searchitemsforlistbl"
      onfocus="$('.itemssearchresultslistbl').removeClass('d-none')"
      onchange="getitemsforlistbl(event)">
      <div style="
      position: absolute;
      right:0;
      height: 80vh;
      width: 70vw;
      overflow-y: scroll;
      z-index: 99;
      background: white;
      padding: 10px;
      box-shadow: -6px 5px 4px 4px #24232391" class="itemssearchresultslistbl d-none">
        <div class="sticky-top bg-white">
          <button class="w-100 btn btn-danger" onclick="$('.itemssearchresultslistbl').addClass('d-none')">X</button>
          <div class="suggestions__group-title brands d-flex" >
  
          </div>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr class="text-center bg-darkblue text-white">
              <td style="width:30%;">IMAGE</td>
              <td>REF.</td>
              <td>ARTICLE</td>
              <td>STOCK Farah</td>
              <td>STOCK Orgh</td>
              <td>PR. Vent</td>
              <td>Marque</td>
              
            </tr>
          </thead>
          <tbody class="itemsforlistblresult">
  
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
  
  <!-- tabs s -->
  
</div>
<!-- side bar -->
<div class="p-3 seystemsection" style="height:92vh; overflow-y: scroll;">
  <div class="row">
    <!-- statistics -->
    <div class="col-4 ">
      <div class=" d-flex align-items-center">
        <div class="bi bi-list p-3 bg-dark text-white"></div>
        <div class="p-3">
          <div class="text-muted">Produits</div>
          <div class="h5">0</div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- tabs holder -->


{% endblock %}


{% block js %}
<script>
  
  $.get('/products/echeancetoday', (data)=>{
    if (data.length > 0){
      $('.echeanceindex').removeClass('d-none').text(data.length)
      //alertify.confirm('Echenaces', data.length+' ECHEANES AUJOURD HUI', function(){
      //  ajaxpage('echeancetab', 'Echeances', '/products/listecheance')
      //}, ()=>{

      //})
    }
  })
  $.get('/products/boncommandes', (data)=>{
    $('.boncmndindex').removeClass('d-none').text(data.length)

  })

</script>
{% endblock %}
